@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-image: url(./images/red-swirls.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
}

.gameBackground {
  height: 560px;
  box-sizing: border-box;
  background-image: url(./images/ice-cream-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 130px;
  margin-right: 300px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0px 3px 0px 0px;
  background-color: rgb(104, 159, 178, 0.6);
}

.game img {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid gray;
  border-right: 1px solid black;
  border-radius: 8px;
}

.score-board {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  justify-content: center;
  margin-bottom: 55px;
  border: 8px solid transparent;
  background-color: rgb(236, 236, 248);
  border-image: repeating-linear-gradient(45deg, rgb(55, 91, 249), rgb(145, 165, 255) 10px, rgb(249, 59, 59) 10px, rgb(255, 180, 246) 20px);
  border-image-slice: 1;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: rgb(249, 59, 59);
}

.page-mask-on-win {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.win-window {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 176, 245);
  border: 5px solid black;
  border-image: repeating-linear-gradient(45deg, rgb(145, 165, 255), rgb(145, 165, 255) 10px, rgb(255, 180, 246) 10px, rgb(255, 180, 246) 20px);
  border-image-slice: 1;
}

.you-win-text {
  font-family: 'Pacifico', cursive; 
  color: rgb(244, 68, 112);
}

.play-again-btn {
  border-radius: 8px;
  font-family: 'Pacifico', cursive;
  background-color: rgb(173, 187, 251);
  color: rgb(244, 68, 112);
  z-index: 11;
  cursor: pointer;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .app {
    flex-direction: column;
  }

  .gameBackground {
    height: 320px;
    margin: 0;
  }

  .game {
    display: flex;
    height: 320px;
    width: 320px;
  }

  .game img {
    width: 40px;
    height: 40px;
  }

  .score-board {
    height: 150px;
    margin-bottom: 20px;
  }

  .score-board h1 {
    margin: 0px 0px;
  }

  .score-board h2 {
    margin: 0px 0px;
  }
}